<section class="tout" id="interests">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Interests</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<p>
					My personal interests include:
				</p>
				<ul>
					<li>
						<b>Game Development</b>. For as long as I can remember I have wanted to make video games. My
						passion for
						games led me to choose the Rochester Institute of Technology's Game Design & Development
						program.
					</li>
					<li>
						<b>Guitar</b>. I started learning to play the guitar in 2019. It started as a way to get a
						better
						appreciation for the music I listen to, but quickly turned into a passion. To me, I get a very
						similar
						feeling to when I'm programming, treating the music I play like a puzzle I'm trying to solve.
					</li>
					<li>
						<b>Astronomy</b>. Before I chose to study Game Design & Development, I planned to study
						Astronomy and Astrophysics.
						In 2014, I joined as a volunteer at the Frosty Drew Observatory in Charlestown, Rhode Island.
						There, I learned many
						skills, such as how to teach advanced concepts to those who have very little knowledge about the
						topic.
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Other Things</h3>
				<ul>
					<li>
						Programming Languages I'm most comfortable with: C#, C/C++, JavaScript
					</li>
					<li>
						Volunteer at Frosty Drew Observatory since 2014
					</li>
					<li>
						Dean's List since Spring 2017
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
